    <div class="pcoded-content">
        <!-- Page-header start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Discounts</h5>
                            <p class="m-b-0">Welcome to La Maderas</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a [routerLink]="['/dashboard']"> <i class="fa fa-home"></i> </a>
                            </li>
                            <li class="breadcrumb-item"><a>Discounts</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page-header end -->
            <div class="pcoded-inner-content">
                <!-- Main-body start -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- Page-body start -->
                        <div class="page-body">
                            <div class="row">
                                <!-- task, page, download counter  start -->
                                <!-- Hover table card start -->
                                <div class="col card">
                                <div class="card-header">
                                    <h5>Discounts Table</h5>
                                    <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                            <li><i class="fa fa-window-maximize full-card"></i></li>
                                            <li><i class="fa fa-minus minimize-card"></i></li>
                                            <li><i class="fa fa-refresh reload-card"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block table-border-style">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Number</th>
                                                    <th>Discount Rate</th>
                                                    <th>Discount Max Value</th>
                                                    <th>Start Date</th>
                                                    <th>Expir Date</th>
                                                    <th>Status</th>
                                                    <th>Create On</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let discount of discounts">
                                                    <th scope="row">{{discount.discountNo}}</th>
                                                    <td>{{discount.discountRate}}</td>
                                                    <td>{{discount.discountMaxValue}}</td>
                                                    <td>{{discount.startDate}}</td>
                                                    <td>{{discount.expirDate}}</td>
                                                    <td>{{discount.enabled === 1 ? 'Enabled' : 'Disabled'}}</td>
                                                    <td>{{discount.createOn | date:'MM/dd/yyyy h:mm a'}}</td>
                                                    <td>
                                                        <a [routerLink]="" (click)="updateDiscount(discount)"><i class="ti-pencil"></i><b>Edit</b></a><br>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Hover table card end -->
                                <!--  project and team member end -->
                            </div>
                        </div>
                        <!-- Page-body end -->
                    </div>
                    <div id="styleSelector"> </div>
                </div>
            </div>
    </div>