
        <div class="pcoded-content">
            <!-- Page-header start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Edit About</h5>
                                <p class="m-b-0">Welcome to La Maderas</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="breadcrumb-title">
                                <li class="breadcrumb-item">
                                    <a [routerLink]="['/dashboard']"> <i class="fa fa-home"></i> </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a [routerLink]="['/dashboard/abouts']">Abouts</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a>Edit About</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page-header end -->
              <div class="pcoded-inner-content">
                  <!-- Main-body start -->
                  <div class="main-body">
                      <div class="page-wrapper">
                          <!-- Page-body start -->
                          <div class="page-body">
                              <div class="row">
                                  <!-- task, page, download counter  start -->
                                  <!-- Hover table card start -->
                                  <div class="col">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Edit About</h5>
                                        </div>
                                        <div class="card-block">
                                            <form class="form-material" [formGroup]="editAboutForm" (ngSubmit)="EditAbout()" >
                                                <div class="form-group form-default pb-2">
                                                    <input type="txet" name="aboutTxtEn" class="form-control" 
                                                     formControlName="aboutTxtEn"
                                                        [ngClass]="{ 'is-invalid': submitted && f.aboutTxtEn.errors }" 
                                                    >
                                                    <span class="form-bar"></span>
                                                    <label class="float-label">About in English</label>
                                                    <div *ngIf="submitted && f.aboutTxtEn.errors" class="invalid-feedback">
                                                        <div *ngIf="f.aboutTxtEn.errors!.required">About in English is required</div>
                                                    </div>
                                                    <div *ngIf="f.aboutTxtEn.errors?.serverError" class="invalid-feedback">
                                                        {{ f.aboutTxtEn.errors?.serverError }}
                                                    </div>
                                                </div>
                                                <div class="form-group form-default pb-2">
                                                    <div>
                                                        <input type="text" name="aboutTxtAr" class="form-control"
                                                         formControlName="aboutTxtAr"
                                                        [ngClass]="{ 'is-invalid': submitted && f.aboutTxtAr.errors }" 
                                                        >
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">About in Arabic</label>
                                                        <div *ngIf="submitted && f.aboutTxtAr.errors" class="invalid-feedback">
                                                            <div *ngIf="f.aboutTxtAr.errors!.required">About in Arabic is required</div>
                                                        </div>
                                                        <div *ngIf="f.aboutTxtAr.errors?.serverError" class="invalid-feedback">
                                                            {{ f.aboutTxtAr.errors?.serverError }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group form-default pb-2">
                                                    <input type="text" name="orderNo" class="form-control"
                                                         formControlName="orderNo"
                                                        [ngClass]="{ 'is-invalid': submitted && f.orderNo.errors }" 
                                                    >
                                                    <span class="form-bar"></span>
                                                    <label class="float-label">Order Number</label>
                                                    <div *ngIf="submitted && f.orderNo.errors" class="invalid-feedback">
                                                        <div *ngIf="f.orderNo.errors!.required">Order Number is required</div>
                                                    </div>
                                                    <div *ngIf="submitted && f.orderNo.errors" class="invalid-feedback">
                                                        <div *ngIf="f.orderNo.errors!.pattern">Order Number must be numeric</div>
                                                    </div>
                                                    <div *ngIf="f.orderNo.errors?.serverError" class="invalid-feedback">
                                                        {{ f.orderNo.errors?.serverError }}
                                                    </div>
                                                </div>
                                                <div class="form-group form-default pb-2">
                                                    <div class="custom-control form-control-lg custom-checkbox">
                                                        <input class="custom-control-input" type="checkbox" name="enabled" id="enabled"
                                                         formControlName="enabled"
                                                        [ngClass]="{ 'is-invalid': submitted && f.enabled.errors }"
                                                        (change)="this.editAboutForm.value.enabled = this.editAboutForm.value.enabled ? 1: 0">
                                                        <label class="custom-control-label base-color" for="enabled">Enabled</label>
                                                    </div>
                                                </div>
                                                <button type="submit" [disabled]="submitted && editAboutForm.invalid" class="btn btn-primary base-bg border-base btn-md waves-effect waves-light text-center float-right mr-5">Edit</button>
                                            </form>
                                            <app-spinner [loading]="loading"></app-spinner>
                                        </div>
                                    </div>
                                </div>
                                  <!-- Hover table card end -->
                                  <!--  project and team member end -->
                              </div>
                          </div>
                          <!-- Page-body end -->
                      </div>
                      <div id="styleSelector"> </div>
                  </div>
              </div>
        </div>
    