<nav class="pcoded-navbar">
    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
    <div class="pcoded-inner-navbar main-menu">
        <div class="">
            <div class="main-menu-header">
                <img class="img-80 img-radius" src="assets/images/avatar-4.jpg" alt="User-Profile-Image">
                <div class="user-details">
                    <span id="more-details">{{adminData.admName}}<i class="fa fa-caret-down"></i></span>
                </div>
            </div>

            <div class="main-menu-content">
                <ul>
                    <li class="more-details">
                        <a [routerLink]="['/logout']"><i class="ti-layout-sidebar-left"></i>Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="p-15 p-b-0">
        </div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="active">
                <a [routerLink]="['/dashboard']" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                    <span class="pcoded-mtext">Dashboard</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
        <div class="pcoded-navigation-label" data-i18n="nav.category.forms">About</div>
        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a [routerLink]="['/dashboard/abouts']" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-pencil-alt"></i><b>FC</b></span>
                    <span class="pcoded-mtext" >All Abouts</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/dashboard/abouts-active']" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-pencil-alt"></i><b>FC</b></span>
                    <span class="pcoded-mtext" >Active Abouts</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>

        </ul>

        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a [routerLink]="['/dashboard/colors']" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-palette"></i><b>FC</b></span>
                    <span class="pcoded-mtext">Colors</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>

        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a [routerLink]="['/dashboard/customers']" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-user"></i><b>FC</b></span>
                    <span class="pcoded-mtext" >Customers</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>

        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a [routerLink]="['/dashboard/discounts']" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-stats-down"></i><b>FC</b></span>
                    <span class="pcoded-mtext">Discounts</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>

        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a href="chart.html" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-harddrives"></i><b>FC</b></span>
                    <span class="pcoded-mtext" >Categories</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>

        
        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a [routerLink]="['/dashboard/taxes']" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-stats-down"></i><b>FC</b></span>
                    <span class="pcoded-mtext">Taxes</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>

        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a [routerLink]="['/dashboard/styles']" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><fa-icon [icon]="['fas', 'hotel']"></fa-icon><b>FC</b></span>
                    <span class="pcoded-mtext">Styles</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>


        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a [routerLink]="['/dashboard/materials']" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><fa-icon [icon]="['fas', 'door-closed']"></fa-icon><b>FC</b></span>
                    <span class="pcoded-mtext">Materials</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>

        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a [routerLink]="['/dashboard/finishes']" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><fa-icon [icon]="['fas', 'building']"></fa-icon><b>FC</b></span>
                    <span class="pcoded-mtext">Finishes</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>

        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a [routerLink]="['/dashboard/cities']" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><fa-icon [icon]="['fas', 'city']"></fa-icon><b>FC</b></span>
                    <span class="pcoded-mtext">Cities</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>

    </div>
</nav>
